body {
    font-family: 'Zen Maru Gothic', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ccffef;
    text-align: center;
}

header {
    color: #ffffff;
    background-color: #2b8669;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

nav {
    background-color: #000000;
    display: flex;
    justify-content: center;
}

nav a {
    display: block;
    color: #ffffff;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
}

main a {
    color: #0000ee;
}

footer {
    color: #ffffff;
    background-color: #002244;
    padding: 1px;
}

.device-slider {
  margin: 30px auto;
  max-width: 100%;
  padding: 0 10px;
  text-align: center;
}

.device-slider h2 {
  font-size: 26px;
  margin-bottom: 10px;
}

.slider-container {
  display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.device-card {
  width: 90%;
  max-width: 300px;
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  text-align: center;
  transition: transform 0.1s ease;
}

.device-card:hover {
  transform: perspective(200px) translateZ(10px)
}

.device-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 8px;
}

.device-card p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

.more-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.more-card a {
  display: inline-block;
  font-size: 16px;
  color: #0066cc;
  text-decoration: none;
  font-weight: bold;
}

.more-card a:hover {
  text-decoration: underline;
}

.sns-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.sns-card {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  transition: transform 0.1s ease;
}

.sns-card:hover {
  transform: perspective(200px) translateZ(10px)
}

.sns-card img {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-bottom: 12px;
}

.sns-card h3 {
  font-size: 20px;
  margin: 8px 0 4px;
}

.sns-card p {
  font-size: 20px;
  color: #666;
  margin: 0;
}

h404 {
  font-size: 300px;
}

dev a {
  font-size: 30px;
}
